@import '../../index.scss'; 

$cor-tabela: #fff;
$cor-borda: #ddd;
$cor-principal: #3498db; // A mesma cor principal usada anteriormente
$cor-laranja: #e67e22; // Cor laranja para o link de alterar

// Estilos da Página
.pagina-consultar-programa-favorito {
  background: $cor-tabela;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  h1 {
    color: $cor-principal;
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    background-color: $cor-principal;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($cor-principal, 10%);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid $cor-borda;
    }

    th {
      background-color: $cor-principal;
      color: #fff;
    }

    tr:hover {
      background-color: lighten($cor-principal, 40%);
    }
  }

  a.alterar-link {
    display: inline-block; 
    background-color: $cor-laranja; // Usando a cor laranja definida
    color: #fff; 
    text-decoration: none; 
    text-align: center;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s;
    width: 90%;
    margin-top: 10px;

    &:hover {
      background-color: darken($cor-laranja, 10%); // Efeito de hover mais escuro
      transform: scale(1.05); 
    }
  }
}
